{% load static %}
<title>About Us</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% include 'pages/navbar.html' %}

<img src="{% static 'images/check.png' %}" alt="" class="aboutImage">

<div class="aboutContainer">  
    <div class="aboutInfo">
        <h1 class="aboutheader">About Us:</h1><br>
        <p>Our enrollment tracking system is a software tool we use to manage student enrollment. It helps with registration, course selection, tracking enrollment status, advising, and reporting. It makes our enrollment process smoother, improves communication, and provides useful data for planning.</p>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>



