{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/x-icon" href="../static/images/CG.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 
<body class="mobile">
    <nav class="nav-bar">
        <div class="container nav-wrapper">
            <div class="brand">
                <img src="../static/images/CG.png" alt="" class="logo=img">
                <span><strong>ENROLL TRACK</strong></span>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>               
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li>
                <a href="{% url 'login' %}"><button class="btn">Enroll</button></a>
                </li>
                <li>
                <a href="{% url 'crud' %}"><i class='far fa-user-circle' style='font-size:24px'></i></a>
                </li>
            </ul>
        </div>
    </nav>   
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>


